* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: linear-gradient(to right, #642b73, #c6426e);
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px;
}
.sign-in {
  width: 80px;
  height: 80px;
  background: url("./images/sign-in-thin-svgrepo-com.svg") no-repeat center;
  margin: 2.5rem 0 1rem 0;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 5px 5px 10px #333, -1px -1px 0px #fff;
}
.title {
  font-size: 1.3rem;
  color: whitesmoke;
  margin-bottom: 2.5rem;
  letter-spacing: 0.5rem;
}
#form {
  display: flex;
  flex-direction: column;
  height: 260px;
  justify-content: space-between;
}
#form .input {
  width: 260px;
  padding: 1rem 1rem;
  border-radius: 2px;
  overflow: hidden;

  background: rgba(0, 0, 0, 0.301);
  display: flex;
  justify-content: space-between;
}
img {
  cursor: pointer;
}

input {
  letter-spacing: 0.1rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: #ebebeb;
  font-size: 1rem;
  width: 90%;
}
#form input::placeholder {
  color: rgb(190, 190, 190);
  font-size: 0.9rem;
  letter-spacing: 0.4rem;
}
#form button {
  padding: 0.7rem 1.5rem;
  border-radius: 0px;
  border: none;
  color: linear-gradient(to right, #159957, #155799);
  font-size: 1.3rem;
  color: #333;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.856);
}
#form button:hover {
  letter-spacing: 0.1rem;
  border-radius: 25px;
}

#pass-validation , #email-validation {
  color: rgb(255, 230, 0);

}
#response{
  color: #2cb14d;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  border-bottom: 2px dotted #159957;
  width: fit-content;
  margin: 1rem auto 0;

}